<!-- NAVBAR  -->
<div id="nav_wrap" class="outer">
	<ul id="nav" class="clearfix">
		<li><a href="/pyvmomi-community-samples/">Home</a></li>
		<li><a href="/pyvmomi-community-samples/learn.html">Learn</a></li>
		<li><a>Download <span class="dropdown"></span></a>
			<ul>
				<li><a
					href="https://github.com/vmware/pyvmomi-community-samples/zipball/master">ZIP
						File</a></li>
				<li><a
					href="https://github.com/vmware/pyvmomi-community-samples/tarball/master">Tarball</a></li>
			</ul></li>
	</ul>
</div>
